description = "Default layout"
==
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>KP CENTR - {{ this.page.title }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
 <!--   <link href="{{ 'assets/css/vendor.css'|theme }}" rel="stylesheet"> -->
    <link href="{{ 'assets/images/favicon.ico'|theme }}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" rel="stylesheet">-->
    <link href="{{ 'assets/css/all.min.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/fontawesome.min.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/bootstrap-icons.css'|theme }}" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ 'assets/vendor/owlcarousel/assets/owl.carousel.min.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/vendor/animate/animate.min.css'|theme }}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ 'assets/css/bootstrap.min.css'|theme }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ 'assets/css/style.css'|theme }}" rel="stylesheet">
    {% styles %}
</head>

<body>

        <!-- Header -->
        <header id="layout-header">
            {% partial 'header' %}
        </header>

        <!-- Content -->
        <section id="layout-content">
            {% page %}
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'footer' %}
        </footer>

   <!-- Back to Top -->
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

   <!-- JavaScript vendorraries -->
   <script src="{{ 'assets/javascript/bootstrap.bundle.min.js'|theme }}"></script>
   <script src="{{ 'assets/vendor/wow/wow.min.js'|theme }}"></script>
   <script src="{{ 'assets/vendor/easing/easing.min.js'|theme }}"></script>
   <script src="{{ 'assets/vendor/waypoints/waypoints.min.js'|theme }}"></script>
   <script src="{{ 'assets/vendor/counterup/counterup.min.js'|theme }}"></script>
   <script src="{{ 'assets/vendor/owlcarousel/owl.carousel.min.js'|theme }}"></script>
   <script src="{{ 'assets/javascript/main.js'|theme }}"></script>
   {% framework extras %}
   {% scripts %}

   <!-- Template Javascript -->

        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner"></div>
        </div>
        <!-- Spinner End -->


</body>
</html>